@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root {
    --main-font: 'Playfair Display', serif;

}



* {
    background-color: aliceblue;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header {
    box-shadow: 0px 0px 10px 0px #222;

}

header > nav {
    display: grid;
}

body {
    height: 130vh;

}

#sm-logo-header {
    max-height: 100vh;
    max-width: 30vw;

}

main {
    position: relative;
    margin-top: 5px;
    
}


#landing-page-main-image {
    min-height: 50vh;
    max-width: 100vw;
    
}

#landing-page-nav-menu {
    position: absolute;
    align-self: center;
    margin-right: 10px;
    right: 10px;
    letter-spacing: 2px;
}

#landing-page-catchphrase {
    position: relative;
    bottom: 80vh;
    background: none;
    margin-left: 3vw;
    font-family: var(--main-font);
    font-size: 2.3rem;
  
}

#landing-page-nav-learn-more {
    position: relative;
    bottom: 45vh;
    margin-left: 3vw;
    border-radius: 10px;
    color:rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    font-family: var(--main-font);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 2px 15px 2px 15px;
    

}

.section-after-main {
    margin: 0px 3vw 0px 3vw;   
    position: relative;
    bottom: 25vh;
    font-family: var(--main-font);
    display:grid;
    letter-spacing: 1px;

  
}

#msg-aftmain{
    font-size: 2em;
    justify-self: center;
    
}

#msg-aftmain-2 {
    margin: 15px 0 0 0;
    justify-self: center;
    text-align: center;
    line-height: 4vh;

}

footer {
    display: grid;
    position: relative;
    right: 10px;
   
}

#socials-ftr-lp {
    position:relative;
    bottom: 10vh;
    left: 15px;
    place-self: center;

    font-family: var(--main-font);
    font-size: 1.5em;
    letter-spacing: 1px;

}

footer > nav {
    position: relative;
    display: flex;
    bottom: 5vh;
    justify-content: center;

}

footer > nav > img {
    padding-left: 30px;
    max-width: 10vw;
    min-height: 5vh;
    min-width: 21vw;
}


/*---------MENU SECTION-----------------*/

#menu-page {
    background-color: var(--main-bg-color);
    height: 65vh;
    width: fit-content;
    display: none;
  
  
 
}

.mn-pg-navlist {
    display: grid;
    text-align: center;
    width: 7em;
    margin-left: 35vw;

    

}

.mn-pg-navlist > li {
    list-style: none;
    padding: 10px 10px 2em 10px;

    justify-self: center;
   
    
}

#mn-nav-li-1 {
    max-height: 10vh;


}

#mn-nav-li-2 {
    max-height: 7vh;
}

#mn-nav-li-3 {
    max-height: 7vh;
    width: 50px;
}

